@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  color: #02483A;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



/* Скрыть кнопку закрытия в виджете Яндекс авторизации */
button[data-t="suggest:close"] {
  display: none !important;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
